@import url('https://projects.verou.me/css3patterns/');

* {
    font-family: Roboto, sans-serif;
}

.exemplo {
    background-color: rgba(0, 0, 0, 1);
    width: 200px;
    height: 200px;
    border: 10px solid;
}

#exemplo-1 {
    border-image-source: url('../images/star.png');
    border-image-repeat: repeat;
    /* border-image-slice: 300 fill; */
    border-image-slice: 300;
}

#exemplo-2 {
    border-image-source: linear-gradient(rgb(0, 145, 255), rgb(0, 242, 255));
    border-image-slice: 10;
}