@import url('https://projects.verou.me/css3patterns/');

* {
    font-family: Roboto, sans-serif;
}

div {
    margin-bottom: 30px;
}

.exemplo {
    width: 200px;
    height: 200px;
    background: aqua;
    border-style: solid;
    /* border-width: thin; */
    border-color: blue;
    /* border-width: thick; */
    border-width: medium;
    /* border-width: 10px 5px 100px 40px; */
}
