@font-face {
    font-family: Carlos; /* Chamo do que eu quiser */
    /* src: local(), url(../fonts/Roboto-Regular.ttf); O local () funciona como um fallback (Se a fonte do local() não existir, o comando escolhe a fonte da url()) */
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Italic;
    src: url('../fonts/Roboto-ThinItalic.ttf');
    font-weight: lighter;
}

* {
    font-family: Carlos;
}

h1 {
    font-family: Roboto-Italic;
    font-weight: lighter;
}

p {
    font-family: Carlos;
    font-weight: normal;
}